<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
   
    <div class="emoji-container" id="emoji-container"></div>
    <div class="container">
        <body>
            <div class="error-container">
                <h1>Error 404 :/</h1>
                <p>The page you are looking for cannot be found.</p>
                <a href="/">Go to Homepage</a>
            </div>
        </body>
       
    </div>
    
    <script src="/static/script.js"></script>
    <script>
        
      
    </script>
</body>
</html>
