<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <header>
        <!-- Votre en-tête ici -->
    </header>
    
    <main>
      
        <div class="container" markdown=1 >
            <h1>
                <i ></i> ASCII Art Generator
                <span class="subtitle">by pcaboor</span>
            </h1>
            <form action="/ascii-art" method="post">
                <button type="submit"><i ></i> Generate</button>
            </form>
            <form action="https://zone01normandie.org/git/pcaboor/ascii-art-web">
                <input type="submit" value="Github" />
            </form>
        </div>
    </main>


    <script src="/static/script.js"></script>
</body>
</html>
